@import url('https://fonts.googleapis.com/css2?family=Acme&family=Almarai:wght@300;400&display=swap');

body {
    background-color: rgb(65, 65, 65);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Acme', sans-serif, serif;
}

h1 {
    font-size: 300%;
}

p, a {
    font-family: 'Almarai', sans-serif, serif;
}

.subtitle {
    font-weight: 300;
}

.huge-text {
    font-size: 200%;
}

.container-body {
    margin-top: 40px;
}

.card-img-top {
    max-height: 20rem;
}

.margin-under {
    margin-bottom: 60px;
}

.right {
    text-align: right;
    padding-right: 30px;
}

.orange-text {
    color: rgb(255, 135, 0);
}

.blue-text {
    color: rgb(87, 160, 255);
}

.white-text {
    color: whitesmoke;
}

.new-link {
    color: rgb(107, 181, 255);
}

.rounded-corners {
    border-radius: 10px;
}

.orange {
    background-color: rgb(255, 135, 0);
}

.blue {
    background-color: blue;
}

.orange-form {
    border: 3px solid rgb(255, 135, 0);
    border-radius: 20px;
    padding-top: 30px;
    padding-left: 50px;
}

.btn-primary {
    background-color: rgb(255, 135, 0);
    border-radius: 10px;
    border-color: rgb(125, 65, 0);
    color: black;
}

.btn-edit {
    background-color: rgb(0, 217, 255);
    border: 0;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

.btn-delete {
    background-color: maroon;
    border: 0;
    border-radius: 10px;
    color: white;
}

.hr-orange {
    background-color: rgb(255, 135, 0);
    height: 1px;
}

.query-confirm {
    font-size: 150%;
}

.list-link {
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
}

label {
    color: white;
}

.bio-bg {
    background-color: white;
    padding: 1rem;
}

.image-label {
    position: absolute;
    top: 5%;
    min-width: 30%;
    left: 0px;
    background-color: rgb(255, 135, 0);
    font-size: 200%;
}

.image-subtitle {
    position: absolute;
    bottom: 1%;
    min-width: 30%;
    right: 0px;
    background-color: rgb(255, 135, 0);
    font-size: 150%;
}