{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-4">
            <h1 class="text-center orange-text mb-4"><strong>Animé Character Base</strong></h1>
        </div>
    </div>
</div>
<div class="masthead">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1 mb-2">
                <!-- image and character name + series -->
                <div class="row">
                    <div class="col-md-6 masthead-image">
                        {% if "placeholder" in character.char_image.url %}
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNmSyUp4xJ3oSaH_VAVvH6TQG4EJu-XSp7DA&usqp=CAU"
                            width="100%" alt="placeholder-image">
                        {% else %}
                        <img src=" {{ character.char_image.url }}" width="100%" alt="{{ character.slug }}-image">
                        {% endif %}
                        <h2 class="image-label">{{ character.name }}</h2>
                        <h2 class="image-subtitle">from the series: {{ character.series_name }}</h2>
                    </div>
                    <!-- this is the main info about character -->
                    <div class="col-md-6 d-inline mt-3">
                        <h3 class="orange-text"><strong>CHARACTER STATS</strong></h3>
                        <p class="orange-text"><strong>Age -</strong> {{ character.age }}</p>
                        <p class="orange-text"><strong>Special Ability -</strong> {{ character.special }}</p>
                        <p class="orange-text"><strong>Popular because -</strong> {{ character.good_reason }}</p>
                        <p class="orange-text"><strong>Downside -</strong> {{ character.bad_reason }}</p>
                        <p class="orange-text"><strong>First Published -</strong> {{ character.first_published }}</p>
                        <p class="orange-text"><strong>First Aired -</strong> {{ character.first_aired }}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- biography of the character details -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 offset-md-1 mb-2">
                    <div class="row">
                        <div class="col-md-12 bio-bg">
                            <p class="orange-text"><strong>Character Bio -</strong></p>
                            <p class="orange-text">{{ character.bio | safe }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-orange" />
    <!-- Comment section -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-1 mb-4 mt-3">
                <h3 class="orange-text">Character Reviews from other Users:</h3>
                <div class="mb-1">
                    {% for comment in comments %}
                    <div class="comments">
                        <div class="white-text">
                            <p>
                                {{ comment.body | linebreaks }}
                            </p>
                            <p class="orange-text right">
                                by <strong><em>{{ comment.name }}</em></strong>  | {{ comment.created_on }}
                            </p>
                        </div>
                        <div>
                            {% if user.is_superuser %}
                            <a href="{% url 'delete_comment' comment.id %}?charid={{ character.id }}">
                                <button class="btn btn-delete mb-3" aria-label="delete"><i class="fas fa-trash-alt"></i></button>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    {% empty %}
                    <div class="orange-text mt-5">
                        <p>There have been no Comments left yet...</p>
                        {% if user.is_authenticated %}
                        <p>Want to start us off???</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 mb-4 mt-3">
                {% if user.is_authenticated %}
                <h3 class="orange-text">Please leave a comment:</h3>
                <div class="orange-form">
                    <p class="orange-text">Comment being left by:</p>
                    <p class="offset-1 orange-text"><strong><em>{{ user.username }}</em></strong></p>
                    <form method="post" class="mt-1 padded-form">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary mb-3" aria-label="submit-comment">Post Comment</button>
                    </form>
                </div>
                {% else %}
                <h3 class="orange-text">Please Sign In to leave a comment!</h3>
                {% endif %}
            </div>
        </div>
    </div>
    <hr class="hr-orange" />
</div>

{% endblock %}