{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-4">
            <h1 class="orange-text text-center mb-4">Suggestions Page</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h5 class="orange-text text-center">Check through the list of suggestions from other people, but if you have
                another, please complete the form at the bottom of the page : -</h5>
        </div>
    </div>
    <hr class="hr-orange" />

    <!-- display for the list of suggestions from other people -->
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% for sug in suggestions %}
            <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          {% if suggestion.sug_type == 0 %}
                        {{ suggestion.char_sug }} | {{ suggestion.char_sug }}
                      </button>
                    </h5>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      {{ suggestion.reason }}
                    </div>
                  </div>
                </div>
                {% endfor %}
        </div>
    </div>

    <!-- form section -->
    <div class="row mb-5">
        <div class="col-md-6 offset-md-3 orange-form mb-5">
            <form method="POST" action="{% url 'create_suggestion' %}">
                {% csrf_token %}
                {{ sug_form.as_p | safe }}
                <!-- submit button -->
                <div class="mb-5 huge-text">
                    <p>
                        <button type="submit" class="text-center btn-primary">Add suggestion now</button>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}