{% extends 'base.html' %}

{% block content %}

{% load cloudinary %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-4">
            <h1 class="orange-text text-center mb-4">Series Creation Page</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h5 class="orange-text text-center">Please create the new series using the form below : -</h5>
        </div>
    </div>
    <!-- form section -->
    <div class="row mb-5">
        <div class="col-md-6 offset-md-3 orange-form mb-5">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ series_form.media }}
                {{ series_form.as_p }}
                <!-- submit button -->
                <div class="mb-5 huge-text">
                    <p>
                        <button type="submit" class="text-center btn-primary" aria-label="submit-series">Create Series NOW!!!</button>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}