{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-md-8 mt-3 offset-md-2">
      <h1 class="orange-text mt-3"><strong>Delete This Character?</strong></h1>
      <h3 class="orange-text mt-3">Just to confirm - Once you have clicked delete, the character will be irreversibly
        deleted</h3>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-10 offset-1 col-md-6 offset-md-3 orange-form mb-5">
      <form method="post">
        {% csrf_token %}
        <p class="orange-text mt-3 query-confirm">Are you REALLY sure you want to delete this character?</p>
        <div class="mb-5">
          <a href="{% url 'home' %}">
            <span class="btn btn-primary mr-3">Cancel</span>
          </a>
          <a href="{% url 'home' %}">
            <span type="submit" class="text-center btn btn-delete" aria-label="delete">Delete</span>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}