{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-md-8 mt-3 offset-md-2">
      <h1 class="orange-text mt-3"><strong>Delete This Series?</strong></h1>
      <h3 class="orange-text mt-3">Just to confirm - Once you have clicked delete, the series and ALL SUBSEQUENT
        CHARACTERS will be irreversibly
        deleted!</h3>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-10 offset-1 col-md-6 offset-md-3 orange-form mb-5">
      <form method="post">
        {% csrf_token %}
        <p class="orange-text mt-3 query-confirm">Are you REALLY sure you want to delete this series? {{ series.series_name }}</p>
        <div class="mb-5">
          <a href="{% url 'series_list' %}">
            <button class="btn btn-primary mr-3">Cancel</button>
          </a>
          <a href="{% url 'series_list' %}">
            <button type="submit" class="text-center btn btn-delete">Delete</button>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}