<!-- reference to the base.html file -->
{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3">
            <h1 class="text-center orange-text"><strong>Animé Character Base</strong></h1>
            <p class="text-center orange-text subtitle">
                Welcome to Luke's Animé Character Base, I have created a simple list of favourite chaarcters from the numerous different 
            </p>
            <!-- search bar element -->
            <div class="row">
                <div class="col-md-6">
                    <p class="orange-text">Feel free to search for your favourite; If you don't see them, please login and send me a suggestion!</p>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <hr class="hr-orange" />

            <!-- visual list list of character cards -->
            <div class="row">
                {% for character in character_list %}
                <div class="col-sm-4 col-md-3 margin-under">
                    <div class="card mb-4 rounded-corners card-shadow">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in character.char_image.url %}
                                <img class="card-img-top"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNmSyUp4xJ3oSaH_VAVvH6TQG4EJu-XSp7DA&usqp=CAU">
                                {% else %}
                                <img class="card-img-top" src=" {{ character.char_image.url }}">
                                {% endif %}
                                <div class="mt-2">
                                    <h5><strong>{{ character.name }}</strong></h5>
                                </div>
                                <div>
                                    <p class="text-muted">{{ character.series_name }}</p>
                                </div>
                            </div>
                            <hr />
                            <a href="#" class="character-link">
                                <a href="#" class="btn btn-primary">View Character</a>
                            </a>
                            {% if user.is_superuser %}
                            <!-- bring up modal for confirmation -->
                            <hr />
                            <a href="#" class="character-delete">
                                <a href="#" class="btn btn-primary btn-delete">Delete Character</a>
                            </a>
                            {% endif %}
                            <hr />
                            <p>Fan Score:</p>
                            <p class="card-text text-muted h6">
                                <i class="far fa-heart"></i>{{ character.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}