<!-- reference to the base.html file -->
{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Character Entries Column -->
        <div class="col-12 mt-4 mb-4">
            <h1 class="text-center orange-text mb-4"><strong>Animé Character Base</strong></h1>
            <div class="col-md-8 offset-md-2">
                {% if user.is_authenticated %}
                <h2 class="text-center orange-text">
                    Welcome back, <strong>{{ user.username }}</strong>. We may have some new characters below; please
                    check them out!
                </h2>
                {% else %}
                <h2 class="text-center orange-text">
                    Welcome to Luke's Animé Character Base. I have created a simple list of favourite charcters from the
                    numerous different animés I have watched over the years. I am always on the lookout for new and
                    exciting
                    shows to watch, so if you can't see your favourite characters here, then <a class="new-link"
                        href="{% url 'account_signup' %}">sign up</a> and send me a suggestion!
                </h2>
                {% endif %}
            </div>
            <!-- add character and series button for superusers only -->
            {% if user.is_superuser %}
            <div class="row">
                <div class="col-md-4 offset-md-4 text-center">
                    <a href="{% url 'create_character' %}">
                        <button class="btn btn-primary mt-3 mb-2 mr-3">Add New Character</button>
                    </a>
                    <a href="{% url 'create_series' %}">
                        <button class="btn btn-primary mt-3 mb-2 mr-3">Add New Series</button>
                    </a>
                </div>
            </div>
            <hr class="hr-orange mb-2 mt-2" />
            {% endif %}
        </div>
        <!-- visual list list of character cards -->
        <div class="row offset-md-0 offset-lg-1">
            {% for character in character_list %}
            <div class="col-6 col-md-3 col-lg-2 margin-under">
                <div class="card mb-4 rounded-corners card-shadow">
                    <div class="card-body">
                        <a href="{% url 'character_detail' character.slug %}" class="character-link">
                            <div class="image-container">
                                {% if "placeholder" in character.char_image.url %}
                                <img class="card-img-top"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNmSyUp4xJ3oSaH_VAVvH6TQG4EJu-XSp7DA&usqp=CAU"
                                    alt="placeholder-character-image">
                                {% else %}
                                <img class="card-img-top" src=" {{ character.char_image.url }}"
                                    alt="{{ character.slug }}-image">
                                {% endif %}
                                <div class="mt-2">
                                    <h5><strong>{{ character.name }}</strong></h5>
                                </div>
                                <div>
                                    <p class="text-muted">{{ character.series_name }}</p>
                                </div>
                            </div>
                        </a>
                        {% if user.is_superuser %}
                        <hr />
                        <a href="{% url 'edit_char' character.slug %}" class="character-edit">
                            <button type="button" class="btn btn-edit mr-3" aria-label="edit"><i
                                    class="fas fa-edit"></i></button>
                        </a>
                        <a href="{% url 'delete_char' character.slug %}" class="character-delete">
                            <button type="button" class="btn btn-delete" aria-label="delete"><i
                                    class="fas fa-trash-alt"></i></button>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:5 %}
        </div>
        <div class="row offset-md-1 mb-6">
            {% endif %}
            {% endfor %}
        </div>
    </div>

    {% if is_paginated %}
    <div class="container">
        <div class="row justify-content-center">
            <div>
                <nav class="mb-6" aria-label="Page navigation">
                    <ul class="pagination justify-content-center mb-6">
                        {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a>
                        </li>
                        {% endif %}
                        {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        <hr class="hr-orange mt-5" />
    </div>
    {% endif %}
</div>

{%endblock%}